[Unit]
Description=dnschain
After=network.target
Wants=namecoin.service

[Service]
ExecStart=/usr/local/bin/dnschain
Restart=always
RestartSec=1
User=dns
Group=dns
WorkingDirectory=/home/dns
PrivateTmp=true
NoNewPrivileges=true
Capabilities=CAP_NET_BIND_SERVICE
ReadOnlyDirectories=-/etc/dnschain

[Install]
WantedBy=multi-user.target